:root {
    --color: aqua;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

main {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    width: 16em;
}

button {
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    width: 26%;
    height: 5em;
    margin: .5em;
}

.active {
    background-color: var(--color);
}